name: MidCap_Scanner
on:
  workflow_dispatch:
  schedule:
    - cron: '0 15,18,21 * * 1-5'

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Force Install and Run
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: |
          python -m pip install --upgrade pip
          python -m pip install pandas==2.0.3 yfinance requests google-generativeai
          python -m pip install pandas-ta --no-deps
          python scanner_pro.py
