name: Market Bot Scanner

on:
  workflow_dispatch: # Ti permette di farlo partire a mano cliccando il tasto
  schedule:
    - cron: '0 15-22 * * 1-5' # Gira ogni ora durante l'apertura di Wall Street

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install pandas yfinance requests

      - name: Run Scanner
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python scanner_pro.py
