name: MidCap_Scanner
on:
  workflow_dispatch:
  schedule:
    - cron: '0 15,18,21 * * 1-5'

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Python Setup
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install and Run
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: |
          python -m pip install --upgrade pip
          pip install pandas yfinance requests google-generativeai
          # Installazione forzata di pandas-ta direttamente da GitHub per saltare l'errore di versione
          pip install git+https://github.com/twopirllc/pandas-ta.git@development
          python scanner_pro.py
